body {
  background-color: rgba(39, 37, 37, 0.959);
}
.headline {
  position: absolute;
  top: 15%;
  left: 30%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.heroimage {
  width: 100%;
  max-height: 550px;
  align-items: center;
}
.cont {
  font-family: cursive;

  display: inline-block;
  z-index: 1;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  width: 20%;

  margin-left: 5%;
}

.logo {
  position: absolute;
  top: 20%;
  z-index: 1;
  right: 40%;
}

.cont h5 {
  padding-bottom: 20px;
}
.cont p {
  font-family: cursive;
}

.cont img {
  width: 35%;
}

.cont2 {
  font-family: cursive;

  display: inline-block;
  z-index: 1;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  width: 20%;

  margin-left: 15%;
}
.cont2 img {
  width: 35%;
}
.cont2 h5 {
  font-family: cursive;
}
.cont2 h5 {
  padding-bottom: 30px;
}
.cont4 {
  font-family: cursive;
  display: inline-block;
  z-index: 1;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
}
.cont4 img {
  width: 35%;
}
.cont4 h5 {
  padding-bottom: 30px;
}

.stylingCard {
  width: 30%;
  margin-bottom: 10%;
  border-radius: 20%;
}
.column {
  margin-right: 0%;
}

.cont9 {
  width: 60%;
  height: 20%;
  margin-left: 20%;
}

.oneitem h3 {
  margin-top: 20%;
  display: inline-block;
  width: 30%;
  margin-left: 10%;
}
.oneitem img {
  align-items: center;
  width: 25%;
  border-radius: 60%;
  display: inline-block;
  margin-left: 10%;
}
.theEdit {
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 10%;
  margin-bottom: 2%;
}

.namesofApi {
  margin-bottom: 10%;
  width: 90%;
}
.cont5 {
  font-family: cursive;

  color: rgba(255, 255, 255, 0.63);

  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.cont5 img {
  width: 30%;
}
.cont5 h4 {
  justify-content: center;
}
