
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
  background-color: #222222;
}

.editCard {
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
}

.editCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.editCard Button {
  border-radius: 12px;
  transition-duration: 0.4s;
}

.editCard Button:hover {
  background-color: rgb(212, 207, 218);
  color: white;
}

.editCard Button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.editCardBody{
  text-align: center;
  font-family: 'Castoro', serif;
  
}

