.maincard {
  width: 30px;
  height: 30px;
  background-color: gray;
  margin-left: 10px;
 
}
.social {
  display: flex;
  flex-direction: row; 
  background-color: #212529;
}
.copy{
  text-align: justify;
/* text-size-adjust: 10px; */
/* background-color: blue; */
color: white;
}
