/* .main_body{
    height: 700px;
} */

.drop{
    background-color: grey;
}

.image{
    width: 100%;
    max-height: 150vh;
    align-items: center;
}
.cont{
    font-family:fantasy;
    position: absolute;
    top: 50%;
    z-index:1;
    color:Black;
    font-weight: bolder;
    /* right:10%; */
  
    
    /* text-align: center; */
    
}
.logo {
   
    position: absolute;
    top:20%;
    z-index:1;
    right: 40%;
}

.cont h3 {
    padding-bottom: 20px;
}
.cont h5{
    font-family:cursive;
    
}
.discover{
    color:black;
    margin-top: 3%;
    
}

.cont2{
    
        font-family:fantasy;
        position: absolute;
        top: 50%;
        z-index:1;
        color:Black;
        font-weight: bolder;
        text-align: right;
       left:15%;
}
.cont2 h5{
    font-family:cursive;
    
}
.cont3{
    position: absolute;
    top:160vh;
    z-index:1;
    left:40%;
    /* margin-top: 20%;  */
    /* padding: 10px; */

}

.cardBodyStyle{
  border-radius: 20%;
   
}
.stylingCard{
    width: 30%;
    margin-bottom: 10%;
    border-radius: 20%;

}
.column{
    margin-right: 0%;
}