


.navbarall {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
 
}

.navbarall a:hover {
  
  background-color: rgba(24, 24, 24, 0.24);
 

}

/* .navbarall a.active {
  background-color: #212529;

} */

/* .profileDiv{
  z-index: 1000;
} */

.other_side {
  position: absolute;
  right: 40px;
}
.imagelogo {
  width: 5%;
  height:40px;
  position: absolute;
  left: 0%;
  top: 25%;
 
 
}
/* .imagelogo:hover {
  background-color: black;
} */
.textlink{
  position: relative;
  right: 25%; 
}
.Dropdown.navbar-dark{
  background-color: black;
}